---
import { Cards, CardsTitle, CardsDescription } from "../Cards";
import Vectorgithub from "../../icons/Vectorgithub";
import Vectorliveurl from "../../icons/Vectorliveurl";
import Link from "../Link";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import Tags from "./Tags";
import ImageCover from "./ImageCover.astro";
import LinkList from "./LinkList.astro";

interface Props {
  work: CollectionEntry<"work">;
}

const { work } = Astro.props;
const { slug, data } = work;

const { title, description, tags, liveurl, githublink, image } = data;
const newDescription =
  description?.length! > 65
    ? `${description?.substring(0, 65)}...`
    : description;
---

<Cards className="md:w-[25rem]">
  <CardsTitle>{title}</CardsTitle>

  <div class="h-[3rem] mb-3 md:mb-0">
    {description && <CardsDescription>{newDescription}</CardsDescription>}
  </div>

  <ImageCover image={image} title={title} />

  <Tags tags={tags} />

  <div class="flex items-center justify-between">
    <LinkList githublink={githublink} liveurl={liveurl} />
    <Link
      href={`/work/${slug}`}
      className="flex justify-between text-xl md:text-sm text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-700 gap-1"
      svgClassName="fill-blue-600 w-5 h-4 md:w-3 md:h-2"
      text="Read More"
    />
  </div>
</Cards>
